##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## Eclipse
##############################
GoalModel/bin/
GoalModel.edit/bin/
GoalModel.editor/bin/
GoalModel.tests/bin/
